@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 14px;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply border-gray-300 rounded px-3 py-1;
  }

  select {
    @apply pr-8;
  }

  a {
    @apply text-primary-500 hover:underline;
  }

  [disabled] {
    @apply opacity-50 pointer-events-none;
  }
}

@layer components {
  .button {
    @apply
      border
      border-gray-300
      rounded
      px-3 py-1
      hover:bg-gray-50
      active:bg-gray-100 active:shadow-inner
      flex items-center gap-1
      whitespace-nowrap
    ;
  }

  .button-primary {
    @apply
      button
      border-primary-300
      bg-primary-300
      hover:bg-primary-400
      active:bg-primary-500
    ;
  }

  .button-text {
    @apply
      button
      uppercase
      font-bold
      text-gray-500
      hover:text-gray-800
      bg-transparent
      hover:bg-transparent
      text-sm
      border-none px-0
    ;
  }

  .tag {
    @apply rounded-full px-2 py-1 bg-gray-200;
  }

  .form-field {
    @apply flex flex-col;
  }

  .label {
    @apply text-sm;
  }
}
